body{
    background-color:yellow;
    font-size: 30px;
    text-align: center;
    font-family: 'Unlock' , sans-serif;
h1{
  color: black;
  text-align: center;
}
h2{
  color: black;
  text-align: center;
}

p{
  color: black;
  text-align:center;
  font-size: 20px;
}
