/* Checkerboard*/
.red {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
}
.black {
  width: 100px;
  height: 100px;
  background-color: black;
  float: left;
}
.board {
  width: 800px;
  display: flow-root;
