body{
background-color:red;
text-align:center;


}



/* Checkerboard*/
.red {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
}
.black {
  width: 100px;
  height: 100px;
  background-color: black;
  float: left;
}
.board {
  width: 800px;
  display: flow-root;

}

  /* 3 Column Grid */

  .threecolumn {
  box-sizing: border-box;
  width: 800px;
  height: auto;
  margin: 5px auto;
  display: flow-root;
}
.header {
  box-sizing: border-box;
  width: 800px;
  height:100px;
  background-color: red;
  margin: 5px auto;
}
.col {
  box-sizing: border-box;
  width: 260px;
  height: 600px;
  background-color: red;
  margin: 5px;
  float: left;
}
.marg {
  box-sizing: border-box;
  height: 25px;
  width: 800px;
  background-color: blue;
  margin: 5px;
  float: left;
}
