#p1 .bSquare {
  width:100px;
  height:100px;
  background-color: blue;
  border: 10px solid: black;
  margin: -15px;
  opacity: .75;
  float:left;
}
#p1.rSquare {
  width:100px;
  height:100px;
  background-color: red;
  border: 10px solid: black;
  margin: -15px;
  opacity: .75;
  float:left;
}
#p1.ySquare {
  width:100px;
  height:100px;
  background-color: yellow;
  border: 10px solid: black;
  margin: -15px;
  opacity: .75;
  float:left;
}
#p2 .bCircle {
  width:1000px;
  height:100px;
  background-color: black;
  border: 10px solid: black;
  margin: -3px 6px;
  opacity: .75;
  float:left;
  border-radius: 50%;
}
#p2.wCircle {
  width:100px;
  height:100px;
  background-color: white;
  border: 10px solid: black;
  margin: -15px -100px;
  opacity: .75;
  float:left;
  border-radius: 50%;
}
